<form action="/character/<%=@campaign.id%>" method="post">
<label for="">Character name</label>
<input type="text" name="character_name" value="">

<label for="">Class</label>
<input type="text" name="character_class" value="">

<label for="">level</label>
<input type="number" name="character_level">
<button>create character</button>

</form>