<form action="/item/<%=@character.id%>" method="post">
<label for="">Item Name</label>
<input type="text" name="item_name" value="">

<label for="">Description</label>
<input type="text" name="item_description" value="">

<label for="">Weight</label>
<input type="number" name="item_weight" step="0.5">

<label for="">Gold</label>
<input type="number" name="item_gold">

<label for="">Silver</label>
<input type="number" name="item_silver">

<label for="">Copper</label>
<input type="number" name="item_copper">

<label for="">Quantity</label>
<input type="number" name="item_quantity">

<button>create Item</button>

</form>

