<form action="/session" method="post">
  
<label>username</label>
<input type="text" name="username">

<label>password</label>
<input type="password" name="password">

<button>login</button>


</form>