 <form action="/campaigns" method="post">
<label for="">name</label>
<input type="text" name="campaign_name" value="">

<label for="">description</label>
<input type="text" name="campaign_description" value="">

<label for="">is the campaign active</label>
<select name="isActive" id="">
<option value="true">yes</option>
<option value="false">no</option>
</select>
</form>